@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: #1b2029;
    color: white;
    font-weight: 500;
    display: flex;
    min-height: 100vh;
}

main{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

main h1{
    color: #8880fe;
    font-size: 3rem;
    margin:2rem 0 3rem 0;
}

main .social-media{
    display: flex;
    align-content: center;
}

main .social-media img{
    width: 36px;
    margin-left: 3rem;
}

main .social-media a:first-child img{
    margin-left: 0;
}

main .detalhe{
    margin-top: 2rem;
}

main .detalhe span{
    font-size: 1.1rem;
    font-weight: 400;
    color: rgb(255, 255, 255,0.3);
    position: relative;
}
main .detalhe span::before,main .detalhe span::after{
   position: absolute;
   content: '';
   width: 100px;
   height: 1px;
   background: rgb(255, 255, 255,0.3);
   bottom: 50%;
   right: 50px;
   
}
main .detalhe span::after{
   left: 50px;
}
main form{
    display: flex;
    align-items: center;
    flex-direction: column;
}
main form label{
    display: flex;
    flex-direction: column;
}

main form label span{
    font-size: 1.1rem;
    margin-top: 2rem;
}

main form input {
    background: #161923;
    width: 300px;
    height: 50px;
    padding: 0 0.5rem;
    margin-top: 1rem;
    outline: none;
    color: rgb(166, 166, 166);
    font-size: 1.1rem;
    border: 1px solid #040118;
    border-radius: 8px;
}
main form input[type ="submit"]{
    cursor: pointer;
    width: 50%;
    margin-top: 4rem;
    font-size: 1.1rem;
    background: #6c63ff;
    border: none;
    border-radius: 36px;
    color: white;
    transition: all .3s ease-in-out;
}
main form input[type ="submit"]:hover{
    background: #5952d4;
}

section.imagem{
    display: flex;
    align-items: flex-end;
    padding: 4rem;
}

section.imagem img{
    width: 90%;
}

section.imagem .circulo{
    position: absolute;
    width: 100%;
    height: 100%;
    background:linear-gradient(45deg,#E8CBC0,#636FA4);
    top: 0;
    left: 0;
    clip-path: circle(45% at right 80%);
    z-index: -1;
}


